<div class="container">
<h3>Achievement's</h3>
<%= current_user.points%>
<%= current_user.name %>
<!--Progress bar-->
<div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: 25%"><%= @remaining %></div>
  
</div>
  <h1 class="mt-2">Dashboard</h1>

  <h2 class="mt-2">Next Lesson</h2>
  <div class="card-next-lesson">
    <%= image_tag('seed/Classes.png', alt: 'Classes') %>
    <div class="card-next-lesson-info">
      <h2><%= @next_lesson.name %></h2>
      <p><%= @next_lesson.description%></p>
      
      <!--User next leeson-->
      <a class="btn-one mt-2">START</a>
      <% if @user_lesson %>
        <%= link_to "Next lesson", user_lesson_path(@user_lesson) %>
      <% else %>
        <p>All lessons finished</p>
      <% end %>
    </div>
  </div>

  <h2 class="mt-5">Want to Refresh Your Memory?</h2>
  <% if @completed_lessons.any? %>
  <div class="lessons-grid">
    <% @completed_lessons.each do |user_lesson| %>
    <div class="card-lesson">
      <%= image_tag('seed/Arrays.png', alt: 'Arrays') %>
      <div class="card-lesson-info">
        <h2><%= link_to user_lesson.lesson.name, user_lesson_path(user_lesson) %></h2>
        <p><%= user_lesson.lesson.description %></p>
      </div>
    </div>
    <% end %>
  </div>
  <% else %>
    <p>You haven’t completed any lessons yet. Let’s get started! 🚀</p>
  <% end %>

<h2 class="mt-5">Levels</h2>
  <% @levels.each do | level| %>
  <p><%= level.completed%></p>
  <p><%= level.lesson.name %></p>
  <% end %>
</div>


