<%= render "shared/navbar-user" %>
<div class="container-dashboard">

<!--Greeting line-->
<h2 class="mt-5">Hi, <%= current_user.name %>, you're just <%= @uncompleted_in_current_level_count %> lessons away from completing <%= @current_level.name %>. Let’s go!</h1>

<!--Progress bar-->
<div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="<%= @progress.round %>" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar custom-purple" style="width: <%= @progress.round %>%"><%= @progress.round %>%</div>
</div>

<h2 class="mt-5 text-center">Next Lesson</h2>
<div class="card-next-lesson">
  <%= image_tag('seed/Classes.png', alt: 'Classes') %>
  <div class="card-next-lesson-info">
    <h2><%= @next_lesson.name %></h2>
    <p><%= @next_lesson.description%></p>
    <% if @user_lesson %>
      <%= link_to "START", user_lesson_path(@user_lesson), class: "btn-one" %>
    <% else %>
      <p>All lessons finished</p>
    <% end %>

  </div>
</div>

<!--Past Lessons-->
<h2 class="mt-5 text-center">Want to Refresh Your Memory?</h2>

<% if @completed_lessons.any? %>
<div class="lessons-grid">


  <!--Past Lessons Cards-->
  <% @completed_lessons.each do |user_lesson| %>
  <div class="card-lesson">
    <%= image_tag('seed/Arrays.png', alt: 'Arrays') %>
    <div class="card-lesson-info">
      <h2><%= link_to user_lesson.lesson.name, user_lesson_path(user_lesson) %></h2>
      <p><%= user_lesson.lesson.description %></p>

    </div>
  </div>

  <% end %>
</div>
<% else %>
  <p>You haven’t completed any lessons yet. Let’s get started! 🚀</p>
<% end %>

<!--Remove when done-->
<h2 class="mt-4">Completed Levels</h3>
<ul>
  <% @levels.each do |level| %>
    <li><%= level.name %></li>
  <% end %>
</ul>




</div>
