<div class="container">
  <h1 class="mt-2">Dashboard</h1>

  <h2 class="mt-2">Next Lesson</h2>
  <div class="card-next-lesson">
    <%= image_tag('seed/Classes.png', alt: 'Classes') %>
    <div class="card-next-lesson-info">
      <h2><%= @next_lesson.name %></h2>
      <p><%= @next_lesson.description%></p>

      <a class="btn-one mt-2">START</a>
    </div>
  </div>

  <h2 class="mt-5">Want to Refresh Your Memory?</h2>
  <% if @completed_lessons.any? %>
  <div class="lessons-grid">
    <% @completed_lessons.each do |user_lesson| %>
    <div class="card-lesson">
      <%= image_tag('seed/Arrays.png', alt: 'Arrays') %>
      <div class="card-lesson-info">
        <h2><%= link_to user_lesson.lesson.name, user_lesson_path(user_lesson) %></h2>
        <p><%= user_lesson.lesson.description %></p>
      </div>
    </div>
    <% end %>
  </div>
  <% else %>
    <p>You haven’t completed any lessons yet. Let’s get started! 🚀</p>
  <% end %>

<h2 class="mt-5">Levels</h2>
  <% @levels.each do | level| %>
  <p><%= level.completed%></p>
  <p><%= level.lesson.name %></p>
  <% end %>
</div>
