<%= render "shared/navbar-user" %>
<div class="container-dashboard">

<!--Greeting line-->
<h2 class="mt-5">Hi, <%= current_user.name %>, you're just <%= @uncompleted_in_current_level_count %> lessons away from completing <%= @current_level.name %>. Let’s go!</h1>

<!--Progress bar-->
<div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="<%= @progress.round %>" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar custom-purple" style="width: <%= @progress.round %>%"><%= @progress.round %>%</div>
</div>

<h2 class="mt-5 text-center">Next Lesson</h2>
<div class="card-next-lesson">
  <%= cl_image_tag @user_lesson.lesson.photo.key %>
  <div class="card-next-lesson-info">
    <h2><%= @next_lesson.name %></h2>
    <p><%= @next_lesson.description%></p>
    <% if @user_lesson %>
      <%= link_to "START", user_lesson_path(@user_lesson), class: "btn-one" %>
    <% else %>
      <p>All lessons finished</p>
    <% end %>

  </div>
</div>

<!--Past Lessons-->
<h2 class="mt-5 text-center">Want to Refresh Your Memory?</h2>

<% if @completed_lessons.any? %>
<div class="lessons-grid">


  <!--Past Lessons Cards-->
  <% @completed_lessons.each do |user_lesson| %>
  <div class="card-lesson">
    <% if user_lesson.lesson.photo.attached? %>
      <%= cl_image_tag user_lesson.lesson.photo.key %>
    <% else %>
      <%= image_tag('seed/Arrays.png', alt: 'Arrays') %>
    <% end %>
    <div class="card-lesson-info">
      <h2><%= link_to user_lesson.lesson.name, user_lesson_path(user_lesson) %></h2>
      <p><%= user_lesson.lesson.description %></p>

    </div>
  </div>

  <% end %>
</div>
<% else %>
  <p>You haven’t completed any lessons yet. Let’s get started! 🚀</p>
<% end %>

<!--Levels-->
<h2 class="mt-5 text-center">Completed Levels</h3>
<div class="lessons-grid">
  <% @levels.each do |level| %>
    <div class="card-level">
      <% if level.photo.attached? %>
        <%= cl_image_tag level.photo.key %>
      <% else %>
        <%= image_tag('seed/Arrays.png', alt: 'Arrays') %>
      <% end %>
      <h2><%= level.name %></h2>
    </div>
  <% end %>
</div>

</div>
