<%= render "shared/navbar" %>
<div class="container">

  <div class="split-screen">
    <div class="left-side">
      <h1>Learn to code the fun way!</h1>
      <p>Tried learning code and gave up? This time, you will get addicted to it!</p>
    </div>

    <div class="right-side">
      <%= image_tag('hero.png') %>
    </div>
  </div>






<h2 class="mt-5">Results You Can Expect</h2>
<p>Here are some of the games you’ll be building:</p>

  <div class="lessons-grid">

    <div class="card-lesson">
      <%= image_tag('game-3.gif') %>
      <div class="card-lesson-info">
        <h2>Gold Rush</h2>
      </div>
    </div>

    <div class="card-lesson">
      <%= image_tag('game-2.gif') %>
      <div class="card-lesson-info">
        <h2>Wack-A-Dot</h2>
      </div>
    </div>

    <div class="card-lesson">
      <%= image_tag('game-5.gif') %>
      <div class="card-lesson-info">
        <h2>Dodge the Comet</h2>
      </div>
    </div>

  </div>

  <p>and many more!</p>

</div>
