<!-- app/views/user_lessons/show.html.erb -->


<div class="container" data-controller="hint">
  <div class="split left">
    <div class="top" data-controller="highlight">
      <!-- <h2>User answer</h2> -->
      <%= simple_form_for @user_lesson do |f|  %>
        <div class="editor-container">
          <pre aria-hidden="true" class="highlighted-code">
            <code class="language-ruby highlighted-code" data-highlight-target="highlight"></code>
          </pre>
          <%= f.input :user_input, as: :text, label: false, input_html: { class: 'editor', data: { action: 'keydown->highlight#handleTab input->highlight#updateHighlight',  'highlight-target': 'editor',  hint_target: 'formInput'}, rows: 19, cols: 2, placeholder: 'Write your code here'}, input_html_classes: [] %>
        </div>

        <!-- Use of Bootstrap v5.3 is paramount in any case.-->
        <!-- Button for Concept modal -->
          <div class="butter">
            <button class="concept-button" type="button" data-bs-toggle="modal" data-bs-target="#conceptModal"><i class="fa-solid fa-book-medical"></i></button>
            <div class="butter-buttons">
              <!-- Button Test -->
              <button class="btn btn-second" data-action="click->hint#sendFeedback">Test</button>

              <!-- Form and button Run -->
              <%= f.submit "Run", class: "btn btn-one" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <div class="split right">
    <div class="icon-container">
      <%= link_to dashboard_path, style: 'color: black;' do %>
        <i class="fa-solid fa-xmark fa-3x"></i>
        <% end %>
    </div>


    <div class="top">
      <h2>The Task</h2>
      <!-- Displaying lesson task -->
      <p><%= @user_lesson.lesson.task.html_safe %></p>
    </div>
    <div class = "bottom">
      <h2>Feedback</h2>
      <!-- Feedback response -->
      <%= render 'ai_response', content: @content %>

      <%= turbo_stream_from dom_id(@user_lesson) %>
    </div>
  </div>

  <!-- Concept modal -->

  <div class="modal fade" id="conceptModal" data-controller="concept" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header text-center d-flex flex-column align-items-center justify-content-center">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= @user_lesson.lesson.name %></h1>
        </div>
        <div class="modal-body">
          <%= render "concept" %>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn-one" data-bs-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Completion modal-->
 <div class="modal fade" id="completionModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header text-center d-flex flex-column align-items-center justify-content-center">
          <h1 class="modal-title fs-5" id="lessonCompleted">Congratulations!</h1>
        </div>
        <div class="modal-body text-center d-flex flex-column align-items-center justify-content-center">
          <!--Adding achievements to user on the modal-->
          <% if @user_lesson.last_lesson_on_level? %>
            <p>You've won <strong>50 points</strong> by completing this level!👏</p>
            <p>Reward unlocked:</p>
            <p class="achievement"><%= current_user.achievements.last.name %></p>
          <% else %>
            <p>You've won <strong>10 points</strong> by completing this lesson!👏</p>
          <% end %>
        </div>
        <div class="modal-footer justify-content-center">
            <%= link_to "Dashboard", dashboard_path, class: "btn-second" %>
            <% if @next_user_lesson %>
              <%= link_to "Next Lesson", user_lesson_path(@next_user_lesson), class: "btn-one" %>
            <% else %>
              <%= link_to "Back to Dashboard", dashboard_path, class: "btn-second" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# The place to inject the script for showing the modal through turbo %>
<div id="modal-launch-target"></div>
