<!-- app/views/user_lessons/show.html.erb -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/font-awesome.min.css">
<div class="container" data-controller="hint">
  <div class="split left">
    <div class="top">
      <!-- <h2>User answer</h2> -->
      <%= simple_form_for @user_lesson do |f|  %>
        <code class="coda"><%= f.input :user_input, label: "", input_html: {data: {hint_target: "formInput"}, class: "coda", rows:19, columns:2} %></code>
        <!-- Use of Bootstrap v5.3 is paramount in any case.-->
        <!-- Button for Concept modal -->
          <div class="butter">
            <button type="button" data-bs-toggle="modal" data-bs-target="#conceptModal"><i class="fa-solid fa-book-medical"></i></button>
            <!-- Button Test -->
            <button class="btn btn-second" data-action="click->hint#sendFeedback">Test</button>
            
            <!-- Form and button Run -->
            <%= f.submit "Run", class: "btn btn-one" %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="split right">

    <div class="icon-container">
      <%= link_to dashboard_path, style: 'color: black;' do %>
        <i class="fa-solid fa-xmark fa-3x"></i>
        <% end %>
    </div>


    <div class="top">
      <h2>The Task</h2>
      <p>current level: <%= @user_lesson.lesson.level.number %></p>
      <!-- Displaying lesson task -->
      <p><%= @user_lesson.lesson.task.html_safe %></p>
    </div>
    <div class = "bottom">
      <h2>Feedback Response</h2>
      <!-- Feedback response -->
      <%= render 'ai_response', content: @content %>

      <%= turbo_stream_from dom_id(@user_lesson) %>
    </div>
  </div>

  <!-- Concept modal -->

  <div class="modal fade" id="conceptModal" data-controller="concept" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= @user_lesson.lesson.name %></h1>
        </div>
        <div class="modal-body">
          <%= render "concept" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-one" data-bs-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Completion modal-->
 <div class="modal fade" id="completionModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="lessonCompleted">Congratulations!</h1>
        </div>
        <div class="modal-body">
          <% if @user_lesson.lesson.number < 6 %>
            You've completed this lesson! Would you like to continue to the next one?
          <% else %>
            That was all! You're done! Go back to your dashboard
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-one" data-bs-dismiss="modal">Dashboard</button>
            <button type="button" class="btn-one" data-bs-dismiss="modal">Next Lesson</button>
            <%= link_to "Dashboard", dashboard_path %>
            <% if @next_user_lesson %>
              <%= link_to "Next Lesson", user_lesson_path(@next_user_lesson) %>
            <% else %>
              <%= link_to "Back to Dashboard", dashboard_path %>
            <% end %>
          <%#= link_to "Next Lesson", user_lesson_path(@user_lesson)%>
        </div>
      </div>
    </div>
  </div>
</div>

<%# The place to inject the script for showing the modal through turbo %>
<div id="modal-launch-target"></div>
