<!-- app/views/user_lessons/show.html.erb -->
<div class="container">
  <h1>User Lesson Page</h1>
  <h2>The Task</h2>
  <!-- Displaying lesson task -->
  <p><%= @user_lesson.lesson.task %></p>

  <h2>User answer</h2>
  <div data-controller="hint">
    <%= simple_form_for @user_lesson do |f|  %>
      <code class="coda"><%= f.input :user_input, label: "Hey Sam! Let’s grab some popcorn and code together!", input_html: {data: {hint_target: "formInput"}, class: "coda"} %></code>
      <%= f.submit "Run", class: "btn btn-one"  %>
    <% end %>
    <button data-action="click->hint#sendFeedback">Feedback</button>

    <h2>Feedback Response</h2>
    <!-- Feedback response -->
    <%= render 'ai_response', content: @content %>

    <%= turbo_stream_from dom_id(@user_lesson) %>
  </div>

  <!-- Use of Bootstrap v5.3 is paramount in any case.-->
  <!-- Button trigger Concept modal -->
  <button type="button" class="btn-one" data-bs-toggle="modal" data-bs-target="#conceptModal">
    Concept
  </button>

  <button type="button" class=""><%= link_to "dashboard", dashboard_path %></button>

  <!-- Concept modal -->
  <div class="modal fade" id="conceptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= @user_lesson.lesson.name %></h1>
        </div>
        <div class="modal-body">
          <%= render "concept" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-one" data-bs-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--User lesson completion pop modal-->
<!--Button trigger-->
<%# <button type="button" class="btn-one" data-bs-toggle="modal" data-bs-target="#completionModal">
    Completion
  </button> %>
<!-- modal-->
 <div class="modal fade" id="completionModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="lessonCompleted">Congratulations!</h1>
        </div>
        <div class="modal-body">
          <% if @user_lesson.lesson.number < 6 %>
            You've completed this lesson! Would you like to continue to the next one?
          <% else %>
            That was all! You're done! Go back to your dashboard
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-one" data-bs-dismiss="modal">Dashboard</button>
           <button type="button" class="btn-one" data-bs-dismiss="modal">Next Lesson</button>
           <%= link_to "Dashboard", dashboard_path %>
           
           <%= link_to "Next Lesson", user_lesson_path(@next_user_lesson) %>
           
        </div>
      </div>
    </div>
  </div>
  <%# The place to inject the script for showing the modal through turbo %>
  <div id="modal-launch-target"></div>
</div>
