<!-- app/views/user_lessons/show.html.erb -->
<div class="container">
  <h1>User Lesson Page</h1>
  <h2>The Task</h2>
  <!-- Displaying lesson task -->
  <p><%= @user_lesson.lesson.task %></p>

  <h2>User answer</h2>
<div data-controller="hint">
  <%= simple_form_for @user_lesson do |f|  %>
    <%= f.input :user_input, label: "Hey Sam! Let’s grab some popcorn and code together!", input_html: {data: {hint_target: "formInput"}} %>
    <%= f.submit "Run", class: "btn btn-one"  %>
  <% end %>
  <button data-action="click->hint#sendFeedback">Feedback</button>

  <h2>Feedback Response</h2>
  <!-- Feedback response -->
  <p data-hint-target="formOutput"><%= @content %></p>
</div>
  
  <%= turbo_stream_from dom_id(@user_lesson) %>
  <div id="ai_response"></div>

  <!-- Use of Bootstrap v5.3 is paramount in any case.-->
  <!-- Button trigger Concept modal -->
  <button type="button" class="btn-one" data-bs-toggle="modal" data-bs-target="#conceptModal">
    Concept
  </button>

  <!-- Concept modal -->
  <div class="modal fade" id="conceptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= @user_lesson.lesson.name %></h1>
        </div>
        <div class="modal-body">
          <%= render "concept" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-one" data-bs-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>
</div>
